<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <title>Error</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" />

    <link rel="stylesheet" href="../../static/css/darkly/bootstrap.min.css"  th:href="@{css/darkly/bootstrap.min.css}" />
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div  layout:fragment="content" class="container mySpace">
    <div  class="container mySpace">
        <div class="text text-centre">

            <h1>Error</h1> <br>
            <h2>|<span th:text="${message}"></span>| </h2>
            <br>
            <h2>Status Code <span th:text="${status}" class="text text-danger"></span></h2>
            <br>

            <br>

        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>